
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-4">
        <p class="btn btn-default">@Html.ActionLink("Add A New Genre", "Create", "Genres")</p>
    </div>
    <div class="col-md-4">
        <p class ="btn btn-default">@Html.ActionLink("Add A New Movie", "Create", "Movies")</p>
    </div>
    <div class="col-md-4">
        <p class="btn btn-default">@Html.ActionLink("Remove A Movie", "Index", "Movies")</p>
        </div>
        <div class="col-md-4">
            <p class="btn btn-default">@Html.ActionLink("Add A New Customer", "Index", "Customers")</p>
        </div>

        <div class="col-md-4">
            <p class="btn btn-default">@Html.ActionLink("Remove A Customer", "Index", "Customers")</p>
        </div>
    </div>
</div>